In [23]:
from glob import glob
import pandas as pd

fnames = glob('completions_data/2002-2007/*.csv')
all_df = []
year = 2002
for fname in fnames: 
    df = pd.read_csv(fname)
    df.columns = df.columns.str.upper()
    df.columns = [x.strip() for x in df.columns]
    df  = df[df['AWLEVEL'] >= 17] #AW level 17 or higher for doctor's degree
    df  = df[df['CRACE24']>0]
    df0 = df[(df['CIPCODE'] == 99)]
    df1 = df[(df['CIPCODE'] >=11.0101) & (df['CIPCODE'] < 12)]
    

    df0['Year'] = year
    df1['Year'] = year
    df0 = df0[['UNITID','MAJORNUM', 'CIPCODE', 'CRACE24','CRACE18','CRACE21','CRACE16','Year']]
    df1 = df1[['UNITID','MAJORNUM', 'CIPCODE', 'CRACE24','CRACE18','CRACE21','CRACE16','Year']]
    year+=1
    all_df.append(df0)
    all_df.append(df1)
bigdf0 = pd.concat(all_df)
bigdf0 = bigdf0.rename(columns={'UNITID':'Unit Id'})
bigdf0 = bigdf0.rename(columns={'CIPCODE':'Degrees'})
bigdf0 = bigdf0.rename(columns={'CRACE24':'Grand total students'})
bigdf0 = bigdf0.rename(columns={'CRACE18':'Black total students'})
bigdf0 = bigdf0.rename(columns={'CRACE21':'Hispanic total students'})
bigdf0 = bigdf0.rename(columns={'CRACE16':'Grand total women students'})

In [24]:
"""
2008, 2009, 2010
# 31680	UNITID	Unique identification number of the institution
#  MAJORNUM	First or Second Major
# 31000	CIPCODE	11.0101	Computer and Information Sciences, General	
# 31000	CIPCODE	11.9999	Computer and Information Sciences and Support Services, Other	
# 31130	CTOTALT	Awards/degrees to all race/ethnicities and both genders
# 31640	DVCBKT	"Awards/degrees to Black or African American men and women.
# 31655	DVCHST	"Awards/degrees to Hispanic or Latino/Hispanic men and women.
# 31090	CTOTALW	N	6	Cont		Grand total women
"""

from glob import glob
import pandas as pd
fnames = glob('completions_data/2008-2010/*.csv')
all_df = []
year = 2008
for fname in fnames: 
    df = pd.read_csv(fname)
    df.columns = df.columns.str.upper()
    df.columns = [x.strip() for x in df.columns]
    df  = df[df['AWLEVEL'] >= 17] #AW level 17 or higher for doctor's degree
    df  = df[df['CTOTALT']>0]
    df0 = df[(df['CIPCODE'] == 99)]
    df1 = df[(df['CIPCODE'] >=11.0101)]
    df1 = df1[(df1['CIPCODE'] < 12)]

    df0['Year'] = year
    df1['Year'] = year
    df0 = df0[['UNITID','MAJORNUM', 'CIPCODE', 'CTOTALT','DVCBKT','DVCHST','CTOTALW','Year']]
    df1 = df1[['UNITID','MAJORNUM', 'CIPCODE', 'CTOTALT','DVCBKT','DVCHST','CTOTALW','Year']]
    year+=1
    all_df.append(df0)
    all_df.append(df1)
bigdf1 = pd.concat(all_df)
bigdf1 = bigdf1.rename(columns={'UNITID':'Unit Id'})
bigdf1 = bigdf1.rename(columns={'CIPCODE':'Degrees'})
bigdf1 = bigdf1.rename(columns={'CTOTALT':'Grand total students'})
bigdf1 = bigdf1.rename(columns={'DVCBKT':'Black total students'})
bigdf1 = bigdf1.rename(columns={'DVCHST':'Hispanic total students'})
bigdf1 = bigdf1.rename(columns={'CTOTALW':'Grand total women students'})

/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/2441674399.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/2441674399.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/2441674399.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year

In [25]:
from glob import glob
import pandas as pd
fnames = glob('completions_data/2011-2022/*.csv')
all_df = []
year = 2011
for fname in fnames: 
    df  = pd.read_csv(fname)
    df.columns = df.columns.str.upper()
    df.columns = [x.strip() for x in df.columns]
    df  = df[df['AWLEVEL'] >= 17] #AW level 17 or higher for doctor's degree
    df  = df[df['CTOTALT']>0]
    df0 = df[(df['CIPCODE'] == 99)]
    df1 = df[(df['CIPCODE'] >=11.0101)]
    df1 = df1[(df1['CIPCODE'] < 12)]

    df0['Year'] = year
    df1['Year'] = year
    df0 = df0[['UNITID','MAJORNUM', 'CIPCODE', 'CTOTALT','CBKAAT','CHISPT','CTOTALW','Year']]
    df1 = df1[['UNITID','MAJORNUM', 'CIPCODE', 'CTOTALT','CBKAAT','CHISPT','CTOTALW','Year']]
    year+=1
    all_df.append(df0)
    all_df.append(df1)
bigdf2 = pd.concat(all_df)
bigdf2 = bigdf2.rename(columns={'UNITID':'Unit Id'})
bigdf2 = bigdf2.rename(columns={'CIPCODE':'Degrees'})
bigdf2 = bigdf2.rename(columns={'CTOTALT':'Grand total students'})
bigdf2 = bigdf2.rename(columns={'CBKAAT':'Black total students'})
bigdf2 = bigdf2.rename(columns={'CHISPT':'Hispanic total students'})
bigdf2 = bigdf2.rename(columns={'CTOTALW':'Grand total women students'})

/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df  = pd.read_csv(fname)
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year
/var/folders/c4/qy50h61x069887_6qkp4f7880000gp/T/ipykernel_82526/3354137448.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['Year'] = year

In [26]:
stud_df = pd.concat([bigdf0, bigdf1, bigdf2])
total = stud_df[stud_df['Degrees'] == 99].groupby(['Unit Id','Year']).sum()
total = total[['Grand total students', 'Black total students', 'Hispanic total students', 'Grand total women students']]
total=total.rename(columns={'Grand total students':'grand_phd_total', 'Black total students': 'black_phd_total','Hispanic total students':'hispanic_phd_total','Grand total women students':'women_phd_total'})
stud_df = pd.read_csv('completion.csv')
cs = stud_df[stud_df['Degrees'] != 99].groupby(['Unit Id','Year']).sum()
total_cs = cs[['Grand total students', 'Black total students', 'Hispanic total students', 'Grand total women students']]
total_cs=total_cs.rename(columns={'Grand total students':'total_phd_cs', 'Black total students': 'black_phd_cs','Hispanic total students':'hispanic_phd_cs','Grand total women students':'women_phd_cs'})
total_cs

              total_phd_cs  black_phd_cs  hispanic_phd_cs  women_phd_cs
Unit Id Year
100654  2002            38            33                2            18
        2003            39            32                0            18
        2004            41            40                0            20
        2005            44            42                0            23
        2006            36            33                1            15
...                    ...           ...              ...           ...
495767  2019          1837            67              101           451
        2020          1810            62               99           436
497037  2018             7             0                2             2
498562  2018            69             5                7            22
498571  2018            99             4                3            10

[30512 rows x 4 columns]

In [27]:
all_stud = pd.concat([total,total_cs], axis =1)
all_stud = all_stud.reset_index()
all_stud
full = []
inst = pd.read_csv('data/hd2020.csv', encoding='cp1252')
inst = inst[['UNITID','INSTNM','CITY','STABBR','INSTSIZE','LONGITUD','LATITUDE','OBEREG', 'CARNEGIE']]
inst = inst.rename(columns={'UNITID':'Unit Id'})
merged = pd.merge(inst, all_stud, on='Unit Id')
merged = merged.dropna()
merged[merged['INSTNM']=='Harvard University']
# merged.to_csv('all_studphd_inst.csv')

,Unit Id,INSTNM,CITY,STABBR,INSTSIZE,LONGITUD,LATITUDE,OBEREG,CARNEGIE,Year,grand_phd_total,black_phd_total,hispanic_phd_total,women_phd_total,total_phd_cs,black_phd_cs,hispanic_phd_cs,women_phd_cs
12266,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2008,1401.0,107.0,68.0,675.0,40.0,0.0,0.0,7.0
12267,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2009,1418.0,102.0,81.0,654.0,25.0,0.0,1.0,7.0
12268,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2010,1468.0,107.0,81.0,700.0,23.0,2.0,3.0,4.0
12269,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2011,1528.0,102.0,108.0,755.0,230.0,7.0,23.0,65.0
12270,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2012,1512.0,88.0,106.0,732.0,111.0,2.0,6.0,32.0
12271,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2013,1535.0,94.0,105.0,732.0,89.0,1.0,7.0,18.0
12272,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2014,1534.0,79.0,90.0,709.0,98.0,2.0,7.0,36.0
12273,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2015,1450.0,93.0,79.0,685.0,36.0,2.0,1.0,3.0
12274,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2016,1474.0,110.0,74.0,723.0,36.0,1.0,1.0,7.0
12275,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2017,1464.0,91.0,87.0,711.0,52.0,3.0,2.0,16.0
12276,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2018,1648.0,108.0,128.0,818.0,173.0,11.0,12.0,54.0
12277,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2019,1465.0,93.0,118.0,695.0,138.0,10.0,11.0,55.0
12278,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2020,1464.0,75.0,118.0,702.0,190.0,4.0,17.0,62.0
12279,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2021,1549.0,89.0,104.0,734.0,238.0,11.0,17.0,58.0
12280,166027,Harvard University,Cambridge,MA,5,-71.118313,42.374471,1,15,2022,1573.0,63.0,133.0,785.0,151.0,3.0,9.0,39.0